@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

* {
  font-family: 'Roboto Slab', sans-serif;
}

form a {
  margin-left: 5px;
}

html,
.list-group {
  background-size: cover;
  background: url('../assets/chalk-background.jpg') !important;
}

body.main-body {
  padding-top: 120px;
  background-color: transparent;
}

h3.heading {
  text-transform: uppercase;
  color: #fff;
}

p {
  color: #fff;
}

body .list-group-item {
  background-color: transparent;
}

li a,
li span {
  color: #fff;
  text-decoration: underline;
  transition: all 0.3s linear;
}

li:hover span {
  font-size: 22px;
}

.error {
  color: red;
}

.home {
  margin-bottom: 30px;
}